body {
    padding: 0;
    margin: 0;
    background-color: #01012B;
}

.background {
    padding: 0;

    display: flex;
    flex-direction: column;
    height: 100%;


    font-size: 1.5em;
    color: #EEEF20;
}


/* #region header */
.header {
    background-color: #7209B7;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 10%;

    border-bottom: 2px solid #a940f0;
    margin-bottom: 5%;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    width: 85%;
}

.navbar {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    color: #e3b062;

    gap: 1%;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 25%;
    
}

.logo img{
    width: 39%;
}

.nome{
    font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.inicial{ 
    color: #EEEF20;
}

.navbar button{
    width: 100%;

    background-color: #EEEF20;
    color: black;
    border-radius: 10px;
    border: 2px solid #000;

    font-family: "Jaro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-size: large;



}

/* #endregion */

/* #region body */
.body {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.fundoImagem{
    background-image: url(imagens/cyberpunkUrbano.avif);
    background-size: cover;

    padding: 1%;
    
    height: 75%;
    width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px ;
    box-shadow: 0.5px 0.5px 50px #EE2677;
    border-bottom: 2px solid #a940f0;

    margin-bottom: 5%;
    margin-top: 2%;
}

.introducao{
    background-color: #003678;
    border-radius: 15px;

    width: 45%;
    height: 75%;

    padding: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.texto{
    
    display: flex;
    flex-direction: row;
    width: 50%;

    border-radius: 15px;
    border: 1px solid  #EEEF20;
    box-shadow: 0.5px 0.5px 50px #EEEF20;

    padding: 2%;
    
    color: #EEEF20;
    background-color: #000;
    
    margin-bottom: 1%;
    margin-top: 5%;

    gap: 5%;
    text-align: justify;
}

.escrita {
    width: 60%;
    
}

.legenda{
    font-size: small;
}

.imagemCyber{
    width: 40%;
    height: 100%;
    align-self: center;
}

.imagemCyber img {
    width: 100%;
    height: 100%;
}

/* #endregion */

/* #region SobreMim */
.SobreMim {
    background-color: #EEEF20;
    color: black;

    gap: 5%;

    height: 25%;
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding: 2%;

    box-shadow: 0.5px 0.5px 1px #000;
}
.contexto{
    font-size: 1em;
}

.contexto span{
    font-size: 1.5em;
}

.git{
    background-color: transparent;
    border: transparent;
    
    width: 60%;
    justify-self: flex-end;
    align-self: flex-end;
}

.git button{
    cursor: pointer;
}
.git img{
    width: 75%;
}

.git span{
    font-size: larger;
}

/* #endregion */

/* #region footer */
.footer {
    border-top: #a940f0 2px solid;
    background-color: #7209B7;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    width: 100%;
    height: 15%;
    
    font-size: medium;
    color: rgb(255, 255, 240);
    padding-bottom: 10px;
}

.contato {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    
}

.contato p {
    margin: 0;
}

.conteudo span {
    font-size: larger;
}

.conteudo {
    width: 110%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
/* #endregion */