body {
    padding: 0;
    margin: 0;
    background-color: #01012B;
}

.background {
    padding: 0;

    display: flex;
    flex-direction: column;
    height: 100%;


    font-size: 1.5em;
    color: #EEEF20;
}


/* #region header */
.header {
    background-color: #7209B7;
    display: flex;
    justify-content: center;

    width: 100%;
    height: 10%;

    border-bottom: 2px solid #a940f0;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    width: 85%;
}

.navbar {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    color: #e3b062;

    gap: 1%;
}

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 25%;
    
}

.logo img{
    width: 39%;
}

.nome{
    font-family: "Jaro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

.inicial{ 
    color: #EEEF20;
}

.navbar button{
    background-color: #EEEF20;
    color: black;
    border-radius: 35% 35% 35% 35% solid ;


}

/* #endregion */

/* #region body */
.body {
    height: 100%;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.fundoImagem{
    background-image: url(imagens/cyberpunkUrbano.avif);
    background-size: cover;
    
    height: 75%;
    width: 75%;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px ;
    box-shadow: 0.5px 0.5px 50px #EE2677;
    border-bottom: 2px solid #a940f0;

    margin-bottom: 5%;
    margin-top: 3%;
}

.introducao{
    background-color: #003678;
    border-radius: 15px;

    width: 45%;
    height: 75%;

    padding: 1%;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.texto{
    
    display: flex;
    flex-direction: row;
    width: 50%;

    color: #EEEF20;

    background-color: #000;
    

}

.escrita {
    width: 60%;
}

.imagemCyber{
    width: 40%;
    height: 100%;
    align-self: center;
}

.imagemCyber img {
    width: 100%;
    height: 100%;

}

/* #endregion */

/* #region footer */
.footer {
    background-color: #EEEF20;
    color: black;
}

/* #endregion */